.nav-link {
    display: flex;
    color: #fff !important;
    margin-left: 16px;
    margin-right: 16px;
    text-decoration: none;
}

.nav-link-bodega {
    display: flex;
    color: #000 !important;
    margin-bottom: 16px;
    margin-top: 16px;
    text-decoration: none;
}